Er is een wachtwoordherstel aangevraagd voor het account met dit e-mailadres op de C.S.V. Alpha-webstek. Als u niets hebt aangevraagd kunt u deze e-mail negeren.<br/>
De link is 1 dag geldig. Mocht de link verlopen zijn, dan kunt u een nieuwe link
aanvragen:
<a href="<%= User.password_reset_url %>">
  <%= User.password_reset_url %>
</a>
. <br/><br/>

Uw gebruikersnaam is <b><%= @user.username %></b>.<br/><br/>

Volg deze link om het wachtwoord te herstellen:<br/>
<a href="<%= @user.activation_url %>">
  <%= @user.activation_url %>
</a><br/>
